[2020-04-30 17:38] rousan opened #1 "Add a new type of post middleware which will accept request metadata"
We can define something like below:
[code]

and then, in `Router::process` method, calculate the request meta/state ONLY IF that router has at least one `PostMiddlewareWithState` attached.

[2020-05-01 17:11] rousan opened #2 "Route param value should be decoded after extracting from request path"
The handler:

[code]

if the path is `/users/john/books/Harry%20Potter`, then the param values will be:

[code]

[2020-05-02 10:11] rousan opened #3 "Add new method `any_method()` to the RouterBuilder"
This route will be invoked on any method at the specified path.

[2020-05-02 20:18] rousan opened #4 "Make `ErrorExt` and `ResultExt` public so that error handling will be easy for other routerify libraries. Hide them from Docs."
These two APIs are only for `routerify` libraries to make it easy to convert other error types to `routerify::Errorr` type and hide them from docs. All the `routerify` libraries will use this `routerify::Error` only as error type instead of introducing a new one.

[2020-05-03 09:38] rousan opened #5 "A broken link in the README.md for the feature item: `Provides a flexible error handling strategy.`"

[2020-05-03 12:23] #5 closed

[2020-05-03 12:37] #4 closed

[2020-05-03 12:45] rousan opened #6 "Add `hyper` keyword to all the routerify libraries"

[2020-05-03 13:42] rousan opened #7 "Option to specify regex as path to match a request"
An example:
[code]

then if it matches, the captured matches can be extracted from `req` as `req.params()`.

[2020-05-03 16:37] #2 closed

[2020-05-03 18:07] rousan opened #8 "Add benchmark result to the README.md"

[2020-05-03 20:58] rousan commented on #7
Reference: https://github.com/kardeiz/reset-router

[2020-05-03 20:59] rousan opened #9 "Use RegexSet to match routes"

[2020-05-04 02:02] rkfox opened #10 "Access Request in the error handler"
Based on the examples, there does not appear to be a way to access the Request inside of the error handler. This means that error pages cannot be rendered using sessions.

[2020-05-04 12:57] rousan commented on #10
@arkf0x, I'm planning to provide(for the next release) the request metadata to post middleware and the error handler as well.

The API will look like below:

[code]

The `RequestMeta` will have:
- Headers
- Uri
- Method

And also the error handler can access this as follows:

[code]

[2020-05-04 19:58] arkf0x commented on #10
Does this have an impact on performance? Just wondering if it make sense to be optional or not.

[2020-05-04 20:05] rousan commented on #10
we have to make a benchmark on it, i don't think there will be any visible performance impact.

[2020-05-05 21:42] rousan opened #11 "Decode percent the full path before processing the request"

[2020-05-06 17:13] #11 closed

[2020-05-06 17:13] #9 closed

[2020-05-06 17:24] #8 closed

[2020-05-06 17:35] #3 closed

[2020-05-06 22:42] rkfox opened #12 "Session handling (feature request)"
I'm not sure if this is within the scope of the project, but the big problem I have using hyper is how to handle sessions since the Response is created separately from the Request. It appears as though request.extensions().get() would be helpful, but there isn't a clean way to connect that to the response to ensure that a cookie is being set since the Request is not available in middleware::post.

[2020-05-07 07:53] rousan commented on #12
@rkfox ,  I will add a request meta to middleware::post to get access of the requests header(cookies).
and release soon (maybe on this upcoming weekend).
for more info #10

[2020-05-07 07:53] #12 closed

[2020-05-07 07:55] rousan commented on #12
also, check out the new version [1.1.0](https://github.com/routerify/routerify/releases), It got 10x performance improvements.

[2020-05-07 17:54] rousan commented on #10
Solved in [v1.1.1](https://github.com/routerify/routerify/releases/tag/v1.1.1).

Now, error response can be generated based on the request info e.g. session managing.
An [example](https://github.com/routerify/routerify/blob/master/examples/error_handling_with_request_info.rs).
For more [info](https://docs.rs/routerify/1.1.1/routerify/index.html#error-handling-with-request-info).

[2020-05-07 17:54] #10 closed

[2020-05-07 17:55] rousan commented on #12
Solved in [v1.1.1](https://github.com/routerify/routerify/releases/tag/v1.1.1).

Now, error response can be generated based on the request info e.g. session managing.
An [example](https://github.com/routerify/routerify/blob/master/examples/error_handling_with_request_info.rs).
For more [info](https://docs.rs/routerify/1.1.1/routerify/index.html#error-handling-with-request-info).

[2020-05-07 17:57] rousan commented on #1
Solved in [v1.1.1](https://github.com/routerify/routerify/releases/tag/v1.1.1).

Now, post middleware can transform response based on the request info e.g. headers, method, uri etc.
An [example](https://github.com/routerify/routerify/blob/master/examples/middleware.rs).
For more [info](https://docs.rs/routerify/1.1.1/routerify/index.html#post-middleware-with-request-info).

[2020-05-07 17:57] #1 closed

[2020-05-09 20:02] rousan opened #13 "Add some more utility methods to RequestExt"
Reference methods: https://docs.rs/reqwest/0.10.4/reqwest/struct.Response.html#method.cookies

including `.cookies()`.

[2020-05-10 21:16] rousan opened #14 "Option to specify a size limit to the request body"

[2020-05-17 12:56] rousan opened #15 "Update Error type from struct to enum type"

[2020-05-29 14:22] seanpianka opened #16 "Stateful/non `'static` handlers?"
Consider a fairly trivial use-case for an API:

[code]

This is not possible, given this compiler error:

[code]

Given this limitation, I don't understand how I can do anything useful with this crate. Am I missing something obvious? I would really appreciate the help.

[2020-05-29 15:58] seanpianka commented on #16
Thanks for the solution, @rousan. Would there be any solutions besides making the state global? I have several different modules that will be creating sub-routers and added under scopes within a main router, and sharing this global static state across several modules seems like it will get messy quickly.

[2020-05-29 16:05] rousan commented on #16
let me clarify, are you using a single state across all the modules or allocating a state for each module?

**Case-1:** You could use `lazy_static` crate to declare a central state in one place globally and use it across modules.
Define the state:
[code]

**Case-2:** if you're trying to manage state per module, then just declare them as `private` global variable as follow:

[code]

[2020-05-29 16:35] seanpianka commented on #16
My state is initialized at runtime, so it cannot be global static state. From my original example, The database client will be initialized with arguments from the command-line, which means your example with `database::Client::new()` does not match my use-case.

[2020-05-29 16:40] seanpianka commented on #16
I'm looking for built-in support from routerify to accomplish something like the following to support accessing run-time initialized state from the handlers.

[code]
Source: https://users.rust-lang.org/t/hyper-passing-a-state-reference-to-async-request-handler/36295/3

[2020-05-29 16:57] seanpianka commented on #16
See this example from a different router which makes application state available in the handlers: https://github.com/kardeiz/reset-router/blob/master/reset-router/src/lib.rs#L232

[2020-05-29 17:15] rousan commented on #16
Good point, I will add this support very soon.

[2020-05-29 17:17] seanpianka commented on #16
Thank you! If at all possible, I'd like to help since this feature is blocking my ability to use this crate.

[2020-05-29 18:35] rousan commented on #16
Will make a new release with the support today

[2020-05-29 18:59] seanpianka commented on #16
Thanks again for the quick support on this! I can test it today

[2020-05-29 22:39] rousan commented on #16
I just made a released `v1.1.3` by adding the above feature.

Doc: [Data and State Sharing](https://docs.rs/routerify/1.1.3/routerify/index.html#data-and-state-sharing).

[2020-05-29 22:39] #16 closed

[2020-05-30 02:07] seanpianka opened #17 "Separate data for scoped sub-routers?"
Thanks for the update to add state to routers! It's an absolutely major feature that, in combination with the support for middleware and scopes, sets this crate apart from others. However, I'm running into unexpected behavior with setting data/state on scoped routers.

# Summary
`.data` can only be called on the top-most router. Any `.data` calls on scoped routers will not be set correctly, such t

[2020-05-30 02:40] seanpianka commented on #17
I see in `router/builder.rs:561`:

[code]

Perhaps, we could use an inner HashMap to map the scope's `path` to an `Option<T>`, where `T` is a type used for storing state. This way, the scope's state could then be later set with its `.data` method, but still be stored independently from other scopes.

[2020-05-30 06:41] rousan commented on #17
it's my fault actually, i didn't notice it, scoped router will also have its own data. Thanks for pointing it out. Fix is on the way.

[2020-05-30 14:07] seanpianka commented on #17
@rousan Thank you again! This isn't blocking my ability to use this crate anymore, as I have a functioning workaround, but with the addition of this feature/bugfix, I can achieve a code architecture very similar to the Go codebase that this project is being ported from.

I hope this feature with stateful handlers makes this crate much more popular :) It's a much lighter weight and cleaner solution

[2020-05-30 14:50] rousan commented on #17
Hey @seanpianka , I pushed the fix(scoped app state) in `scoped-data-support` branch, before making a new release, I want to make sure that everything is working.

So, can you please update the cargo dependency to github and test it out as follows:

[code]

and then use it as the examples you have mentioned above, now it will work.

[code]

[2020-05-30 14:54] rousan commented on #17
Even, you can access parent router's state from child router.

[code]

[2020-05-30 16:00] seanpianka commented on #17
Thanks for the quick feature addition, it looks like everything with scoped data for sub-routers is working as intended! Below, I've prepared a full code sample for how I plan to use these scoped routers with their own state (along with the run-time initialization we discussed in #16).

However, I notice unexpected behavior:

When making a `GET /v1/users/` request, it responds as expected. However

[2020-05-30 16:08] seanpianka commented on #17
Also, in my above code example, if I change the route in `users::Handler::router` to:

[code]

Then, `GET /v1/users`, it panics with a similar error as originally:

[code]

Perhaps the `path` argument being empty is an edge case? I was trying to write `#[test]`s for this library, but it seems that testing a Hyper server and handlers is also non-trivial for a Rust beginner.

[2020-05-30 16:08] rousan commented on #17
Yeah, it's a bug and I was aware of this from the beginning. Thanks for reminding me. I will fix this with this release `v1.1.4`.

[2020-05-30 16:10] rousan commented on #17
While accessing the app data?

[2020-05-30 16:12] seanpianka commented on #17
Yes, I'll post the full code example and panic stacktrace.

# Code Sample
[code]

# Stacktrace

The following panic happens when making this request: `GET /v1/users`

[code]

[2020-05-30 16:21] rousan commented on #17
It's throwing an error because the data is not available at `/users` path, but instead, it's available at `/users/*` path.

It's a bug I guess, This should be resolved internally. Will fix it with this release.

[2020-05-30 16:25] rousan commented on #17
Do you think the both routes `/v1/users and /v1/users/ ` should work after resolve or it just be only `/v1/users` after it's resolved?

[2020-05-30 16:37] seanpianka commented on #17
You're the best! Once I learn how to write `#[test]` for Hyper servers, I'll see about making a PR that can test these edge cases.

In my experience, it is typical behavior to have both `/v1/users` and /v1/users/` resolve to the same handler. However, I have also seen libraries/crates where this was left as an option to the developer.

For example, actix_web provides a [NormalizePath](https://docs

[2020-05-30 16:54] rousan commented on #17
I think we should add an option to specify a path normalizer middleware to normalize crazy paths like ones above and the routerify will NOT provide any default normalizer as it might affect the performance unnecessarily, but the routerify will provide some basic path resolve e.g. `/users/` and `/users` will point to the same handler.

the normalizer could be assigned as below:

[code]

what do you

[2020-05-30 17:02] rousan commented on #17
or we can have a simple a `path_normalizer(|path: String| async move { Ok(path) })`.

[2020-05-30 17:10] seanpianka commented on #17
Perhaps it could be a middleware, and the implementation is provided by the crate? For example:

[code]

[2020-05-30 17:17] seanpianka commented on #17
And I think benchmarking this path normalization would be helpful. If it doesn't affect performance by more than 1%, I would argue that making it default/opt-out behavior would make sense. However, it will be easier to just handle the typical case `/users/` and `/users`, and leave crazy path normalization for later.

[2020-05-30 19:32] rousan commented on #17
Pushed the ` /users/ and /users` resolving in `develop` branch, please let me if everything is working, then I will make a new release.

Update the dep as follows:

[code]

[2020-05-30 20:32] seanpianka commented on #17
Yep, looks good! My [example](https://github.com/routerify/routerify/issues/17#issuecomment-636350710) from before now returns the correct response from both `GET /v1/users` and `GET /v1/users/`.

Thanks again for the fast response! This crate is shaping up nicely :)

[2020-05-30 21:39] rousan commented on #17
Released [v1.1.4](https://github.com/routerify/routerify/releases/tag/v1.1.4)  🎉 .

Dep:

[code]

[2020-05-30 21:39] #17 closed

[2020-06-02 04:24] seanpianka opened #18 "Add basic smoke tests?"
When I've been doing testing of the behavior of this crate, I always need to write a program using it, compile and run it, and use Postman to actually make the HTTP requests myself. Instead of this manual process, could we demonstrate how to automate these tests by adding some basic smoke tests?

Essentially, create a server like the README's example shows inside of a test function:

[code]

Howev

[2020-06-02 07:07] rousan commented on #18
It does not compile because hyper client doesn't expect our router service, need to take another approach, there will be some libraries to mock client, I guess.

Why don't you join this organization and start contributing?

[2020-06-02 17:42] seanpianka commented on #18
I’m happy to contribute, but I figure it will take me a long time to get ramped up on how you’ve designed this crate. I think a big change like this might be simpler and faster for you to implement, no?

[2020-06-02 18:45] rousan commented on #18
Let me know if you need any detailed explanation about the crate.

And This writing testcases has nothing to do with this crate, need to use any third party library, need to look at how hyper.rs library does it.

[2020-06-02 20:02] seanpianka commented on #18
While having tests is not technically a part of this crate, it’s better to have automated tests. Instead of having to run a server locally and make HTTP requests to your server yourself, you can automate this with tests and make sure everything works just by running `$ cargo test`.

I can experiment by modifying this crate’s code to implement the two traits. Routerify::RouterService needs clone an

[2020-06-02 20:22] rousan commented on #18
okay, I will look into this on weekend for sure.

[2020-06-03 15:39] seanpianka commented on #18
Can you help me understand why you used unsafe within the RequestService? Why `unsafe { &mut *self.router }` and not just make `Router` derive Clone using Arc/Mutex?

[2020-06-03 15:57] seanpianka commented on #18
All I'm really trying to understand is how to call [RequestService::call](https://github.com/routerify/routerify/blob/master/src/service/request_service.rs#L36) directly.

[code]

I made `RequestService::new` do all the same initialization that `RouterService::new` does to the  `Router` argument. However, this is failing due to `panicked at 'attempt to subtract with overflow'`.

[2020-06-04 11:16] rousan commented on #18
Actually, because of the performance. If I have used `Arc`, it will impact the performance when you will have a lot of simultaneous requests, as the `Arc` manages a concurrent counter to keep track of the current active owners and this counter gets updated only once at a time, so if you got 1k requests, this counter will get updated one by one and other new requests will wait which impacts the per

[2020-06-04 13:42] seanpianka commented on #18
Makes sense, so the reference counting being atomic is what causes the performance hit, Instead, what if you used a non-thread-safe Rc? Would that be as slow as my previous suggestion?

Do you have any comments or thoughts on making RequestService easier to be directly callable? I’m struggling due to this unsafe mutable pointer code...

[2020-06-04 14:09] rousan commented on #18
`Rc` will make data racing and the compiler won't allow it.

Let me see.

[2020-06-04 15:52] rousan commented on #18
Hey @seanpianka
I just added a hello world integration test in `tests/integration.rs` file in `develop` branch, It shows how to write test cases with `routerify`. I will add more later.

[2020-06-04 16:00] rousan commented on #18
Now, just copy the support file as a module and start writing your own test cases without creating a separate file.

[2020-06-04 16:00] #18 closed

[2020-06-04 16:00] rousan opened #19 "Add more integration tests"

[2020-06-04 16:42] rousan commented on #18
Actually, It's just a basic approach if you're familiar with hyper.rs and tokio.rs.

Also, I'm grateful that this crate is growing with new features and improvements day by day.

[2020-07-19 03:33] seanpianka opened #20 "Allow a subset of a scope's handlers have separate middleware stacks via "groups"?"
In the Go HTTP router package [Chi](https://github.com/go-chi/chi), it supports grouping a set of handlers along the same routing path into a "group" that has a fresh middleware stack. For example:

[code]

@rousan, do you know if there's a way to achieve this with how scopes work now?

[2020-07-19 04:21] seanpianka commented on #20
I've written an integration test to demonstrate the desired behavior (and the test is failing):

[code]

This test fails with the following stacktrace:

[code]

The failure is in the initial request made to `GET /`, which should not perform the "authorization" step and always serve the request. What are your thoughts on a feature like this?

[2020-07-23 09:27] rousan commented on #20
@seanpianka , right now, all the scoped routes, handlers and middlewares are just merged with the scoped path. So, here, the middleware is available for `/`, `/authorized` and `/authorized2`.

The workaround to get the expected result:

[code]

or in a clean way:

[code]

[2020-09-09 17:17] #20 closed

[2020-09-11 03:10] seanpianka commented on #20
Just to translate the solution into English: the solution is to create a middleware using `pre_with_path`, where the given path exactly matches the path which requires the middleware.

Do you think adding a separate concept of "groups" would be difficult design-wise? Instead of having to specify the middleware explicitly for both `/authorized` and `/authorized2`.

I'm essentially looking to have "

[2020-09-11 16:06] seanpianka commented on #20
I tried writing an integration test to see if I understood your suggested solution correctly, however it appears the middlewares added to routes using `middleware::pre_with_path` is not being called (at least when I use the suggested approach):

# Integration Test

[code]

# Expected Behavior
Get an error response from the route with using the authorization middleware if I'm not passing the requir

[2020-11-18 21:50] ar3s3ru opened #22 "Middleware with next handler access"
The current implementation of middleware is the following:
https://github.com/routerify/routerify/blob/7602b5811e3dc86c00a8a157f74fbd83276b6d06/src/middleware/mod.rs#L19-L26

With the current implementation, a Middleware either runs _before_ the request, or _after_ the request, but there is no full-flow access from the middleware. Which means, handling scenarios like logging the request duration b

[2020-11-20 06:51] seanpianka commented on #20
@rousan Can you take a look at this test failure? ☝️ I wrote a test to try your suggested solution, but I'm running into assertion failures.

[2020-11-25 15:44] NikosEfthias opened #26 "there are no examples on using the request body."
for the past 3 hours I am trying to get post data from request body which is hyper::Body but seems it is impossible. Is this just a toy library which doesnt allow that ? the docs mention the exhaustive examples but also such a basic thing as reading the post body has no place in the examples

[2020-11-26 00:54] seanpianka commented on #26
Your problem is with using and extract information from an [http's request](https://docs.rs/http/0.2.1/http/request/index.html) and [hyper's body](https://docs.rs/hyper/0.13.9/hyper/body/index.html), not with Routerify. If you're going to write Rust and use community crates, you must understand that investigating type definitions, implementations, and documentation on your own is a requirement to

[2020-11-26 04:02] rousan commented on #26
Hey @NikosEfthias ,
for your clarification here is the fully working code:

[code]

[2020-11-26 04:13] rousan commented on #22
Hey @ar3s3ru , the routing middleware system in Routerify is very simple and I have a plan to improve it in future. However, You can achieve the same using pre middleware and post-middleware as follows:

[code]

[2020-11-26 08:49] ar3s3ru commented on #22
Hey @rousan,

Thanks for the answer. Happy to know that there's a plan to improve the middleware system! In that regard, I wouldn't mind contributing -- especially if you're planning on discussing design strategy on a tracking issue.

As for the snippet you provided, I'm skeptical it would work: the `Timer` has global state, which means that this whole trick won't work as soon as you start having

[2020-11-26 19:28] NikosEfthias commented on #26
thanks. for the help I really appreciate it.

[2020-11-26 19:28] #26 closed

[2020-11-26 19:30] NikosEfthias opened #27 "cannot remove x-powered-by header"
I am trying to remove x-powered-by header which is set to Routerify but routerify seems to override it even when I set a custom value

[2020-11-29 01:02] la-urre opened #28 "Using state sharing and access request body"
Hello!

First I want to thank you for this library. I find it easy to use and it suits my needs so far!

I must say I am pretty new to rust development, so my question might be a bit dumb.

I am trying to use state sharing with routerify. I use a struct that contains my database connection pool.

[code]
In my handlers, I get a reference to the AppState like this: `let state = req.data::<AppState>(

[2020-11-29 03:00] seanpianka commented on #28
See [this comment](https://github.com/routerify/routerify/issues/26#issuecomment-734012710) and let me know your thoughts.  Don't use `.into_body()`, use `.body_mut()`.

[2020-11-29 12:58] la-urre commented on #28
Hello Sean, thanks for your answer.

The code you sent doesn't seem to compile on my side. I reworked it and ended up with:

[code]

I know that this is more related to hyper and not Routerify. Still I wonder if it wouldn't help to have an example somewhere. Best place would be on hyper repo directly, I will try to propose one.
Thanks again for your quick response,
Damien

[2020-11-29 12:59] #28 closed

[2020-11-30 04:21] rousan commented on #27
Hey @NikosEfthias, thanks for pointing out. We should give users an option to overwrite it at least and any fix and PR is welcome.

[2020-12-02 01:57] NikosEfthias opened #29 "How can I access react req extensions at post middleware?"
I am trying to build a logger for my api which logs the endpoint method and time taken.
I am adding a req.extension with a timer however I cant seem to reach it in a post middleware by using res.extension

[2020-12-02 02:41] rousan commented on #29
Only one workaround we have right now is to attach a special post middleware with [RequestInfo](https://docs.rs/routerify/1.1.4/routerify/struct.RequestInfo.html) access using [Middleware.post_with_info()](https://docs.rs/routerify/1.1.4/routerify/enum.Middleware.html#method.post_with_info) method and set starting timer value in header in request object in pre-middleware and then access that data

[2020-12-02 14:59] NikosEfthias commented on #29
that would be great. I suggest this report be kept open and tagged untill the feature is ready for any people looking for this in the future

[2020-12-03 20:50] NikosEfthias commented on #27
when it will be possible to have this pr in a release which can be downloaded from crate.io? @rousan

[2020-12-04 00:43] rousan commented on #27
I will make a new release today if possible

[2020-12-06 22:57] NikosEfthias commented on #27
thanks I guess we can close this now

[2020-12-06 22:58] #27 closed

[2020-12-13 16:42] NikosEfthias commented on #29
btw seems like custom request headers are thrown away because they dont appear in the post middleware with info
on the attached photo i can see that x-req-start exists but on the inf headers it is simply thrown away
![image](https://user-images.githubusercontent.com/9097437/102017966-3686ae80-3d7b-11eb-93c2-1f12f3527e0d.png)

[2020-12-27 21:03] mitchhentges opened #33 "Remove constraint that request body is `hyper::Body`"
Thanks for Routerify! It's very useful for my `hyper` projects :)

I'm writing an application that acts as a small web container, and the service I'm using has an API that only uses the [`http`](https://crates.io/crates/http) crate's abstractions (rather than being specific to `hyper`).
However, this means that I can't use `routerify`, because it expects requests to be `Request<hyper::Body>` (as o

[2020-12-28 20:51] mitchhentges opened #34 "Bump to hyper 0.14"
Projects using `tokio` 1.0 and `hyper` 0.14 can't use `routerify` yet :(

[2020-12-28 21:08] seanpianka commented on #34
I've started updating the chain of dependencies here: https://github.com/rousan/async-pipe-rs/pull/8

The list of Routerify's dependencies that need to be updated are included in my pull request. We're just waiting on approvals for this work to proceed.

[2020-12-28 21:10] seanpianka commented on #34
@rousan, could you invite me to the Routerify organization? I'd like to move this work along since the release of Tokio 1.0 is a major milestone that Routerify should keep up with.

I think it'd also be beneficial to move the stream-pipe and async-pipe dependencies into the organization, as well...

[2021-01-07 02:03] seanpianka commented on #34
Here's a fork with Hyper and Tokio updated: https://github.com/seanpianka/routerify
Here's the pull request: #35

To use the updated libraries, add this to your `Cargo.toml`:
[code]

[2021-01-14 23:57] NikosEfthias opened #36 "At some point routerify panics"
[code]
I dont know how exactly to replicate this it just happened out of nowhere and the line causing this seems to be the following
![image](https://user-images.githubusercontent.com/9097437/104663116-59d7ad00-56dd-11eb-93cf-cc80d4591793.png)

[2021-01-15 00:02] NikosEfthias commented on #36
I figured out the issue if the path is invalid routerify fails. So it should first check the path correctness

[2021-01-15 05:16] seanpianka commented on #36
Can you add a unit test for this panic? It would be nice to know future changes won't reintroduce this bug.

[2021-01-20 21:46] NikosEfthias commented on #36
Hi sorry for the late reply. I will try to add some tests as soon as i can @seanpianka until then we can leave this unclosed i guess

[2021-01-21 04:25] seanpianka opened #39 "Panics seen when using RequestServiceBuilder"
Related to the code in #38

Original code:
[code]
New code:
[code]
The one-million-dollar question is: why does this cause any of the following crashes when I invoke `service.call(req)`?
[code]
or
[code]
or
[code]

The crash is eventually caused by invoking the method `service.call(req)`. That function uses some `unsafe` apparently for performance, and essentially performs the following:
[code]
I'

[2021-01-21 04:30] seanpianka commented on #39
@Aetf Apologies for the ping, but do you have any insight into why modifying the `RequestServiceBuilder` calls to be chained / fluent could cause this sort of memory unsafety error?

If I apply the commit that makes the above code changes, it reliably crashes with one of three errors I posted, and seems to occur during regex-matching during the router's `process` method.

[2021-01-21 05:03] Aetf commented on #39
This is actually a memory lifetime issue. I should've document this in the first place. You need to keep builder alive when using the service, because the builder is the owner of the Router object, and the RequestService only takes a non-owning pointer to the Router object without any type-level lifetime annotation, thus the unsafe block.

I did it this way bacause I don't want to introduce change

[2021-01-21 05:35] seanpianka commented on #39
Thank you for this excellent analysis and your timely response. This totally clarifies the issue and explains why turning two lines into one is not as harmless as it looks, since it shortens the lifetime of the builder and router.

On master is currently a 2.0.0-beta version (a bump of the major version) of Routerify that contains breaking changes to the public API. Before v2 exits beta, I will tr

[2021-01-21 05:57] Aetf commented on #39
If you can get `RequestService<'a>` working, there's no need for the builder to be `unsafe` then. I'm just saying if `RequestService<'a>` turns out to be hard to implement, then `unsafe` could be a short-term plan.

For the current Routerify implementation, `RouterService` is a [`MakeService`](https://docs.rs/hyper/0.14.2/hyper/service/index.html#makeservice) passed to `Server::bind(&addr).serve(r

[2021-02-01 23:17] NikosEfthias opened #40 "Does routerify need new maintainers?"
Seems the version bumps are going pretty slow does the project need more people with merge and publish rights ?

[2021-02-02 12:57] rousan commented on #40
New contributors are always welcome, I will send an invitation link if you are interested.

[2021-02-02 12:59] rousan commented on #34
@seanpianka , I have sent you an invitation link to be a member to this organization. Please follow this link https://github.com/routerify  to accept.

[2021-02-03 19:02] NikosEfthias commented on #40
sure it'll be amazing

[2021-02-03 22:08] rousan commented on #40
Sent you an invitation.

[2021-02-03 22:09] NikosEfthias commented on #40
Accepted.I am not sure how do i get to make point cargo releases tho

[2021-02-03 22:46] rousan commented on #40
I will make new releases, just let me know when. Also FYI, we use `develop` branch for new features, bug fixing etc changes. So we need to merge PR to develop branch and when we will release, only then we will merge the stable code to master branch.

[2021-02-03 22:57] NikosEfthias commented on #40
Yes I am aware of the flow but without making beta releases how are people gonna test the new features all the bugs I personally found and fixed existed on the crates.io release

[2021-02-04 00:37] rousan commented on #40
Yes, We should start making beta releases before pushing stable version. We can adapt `Weekly release cycle`. Whatever we changed in develop branch, we will make a new beta release every week.

[2021-02-04 00:39] rousan commented on #40
Just let me know after merging PRs, I will make a new beta release. FYI @NikosEfthias  @seanpianka ,

[2021-02-04 15:56] NikosEfthias commented on #40
@rousan My pr was recently merged fixing a panic caused by invalid http headers this is a bug that still exists the release and i encounter a couple hundreds of panics a day because of this issue on production the app is usable because tokio catches panics

[2021-02-05 04:15] rousan commented on #40
Got it. @seanpianka, can we make a beta release? Is the develop branch is ready to make a new release?

[2021-02-06 20:51] seanpianka commented on #40
More pressing before another release, @rousan can you please send a few minutes and add `/// SAFETY:` comments around the uses of `unsafe` in the current implementation?

I do not feel comfortable being a maintainer for this project as currently Routerify makes frequent use of memory unsafe code. I see no comments showing justification for _why_ the current code is sound, and I cannot see why the

[2021-02-06 20:56] seanpianka commented on #40
Specifically, the [`RequestService`](https://github.com/routerify/routerify/blob/master/src/service/request_service.rs#L10) _must_ be documented with soundness justifications for `*mut Router<B, E>`.

[2021-02-06 21:51] rousan commented on #40
Okay, I will do that.

[2021-02-06 22:33] seanpianka commented on #40
In the spirit of this, I want to add this clippy lint for this `unsafe` commenting practice: https://rust-lang.github.io/rust-clippy/master/index.html#missing_safety_doc

The idea is to capture the pre, current, and post conditions under which a block of `unsafe` code can be considered safe. #25 raises this concern and attempts to fix it, however there's significant performance loss while doing so

[2021-02-08 23:18] gsserge commented on #29
What do you guys think about extending `RequestInfo` with a new field `duration: std::time::Duration`? Obtaining the request's duration is quite common for logging and metrics. We could make it conveniently accessible without any special middleware.

However, I also think that we need a more generic mechanism for passing a request's mutable context from pre middlewares, through a handler and all t

[2021-02-09 11:01] UndefinedBHVR opened #42 "Capability to return Response from Pre Middleware"
So, as far as I can tell, there's no way for a pre middleware to return a response via `Response<Body>`. This seems like something that'd be useful in a fair for scenarios, for example:

Say I have an authentication middleware for an API, if the user provided an expired token, the API could return an application/json response like the following:
[code]

The introduction of this would most likely b

[2021-02-09 11:25] UndefinedBHVR commented on #42
Closing as unneeded, just remembered the existence of the error handler function for the builder. Sorry!

[2021-02-11 04:40] NikosEfthias commented on #29
@gsserge I think duration would be awesome and data part I like things being as strict as possible personally. it prevents me from shooting myself.
A single generic type could be a struct with optional fields i believe so we'd have optional fields while having an awesome completion by the editors also `HashMap<String,Box<dyn MyConvertable>>` seems a lot of work. if a mutable ref to the original re

[2021-02-16 19:48] gsserge commented on #40
@rousan @seanpianka @NikosEfthias hey guys, I think we need to find a way to move the project forward. Look at the open PRs and possibly get them in, **at least** the tokio/hyper update, and then create another beta so that we have something in crates.io. Otherwise, I'm afraid, more people are going to create their own forks and we the project is good to lose on community :( I'd merge the hyper up

[2021-02-16 20:09] NikosEfthias commented on #40
@gsserge I think it is a great idea and i myself trying to understand how things roll at the moment how things are getting to the crates.io etc. So I guess @rousan could tell us what are rules to get a release on crates.io

[2021-02-16 20:16] seanpianka commented on #40
@rousan, please do the following at your earliest convenience:
- Add safety justifications to unsafe code
- Give write access to any other group member

Thanks

[2021-02-16 20:16] rousan commented on #40
Hi guys, been very busy on something. Once the required PRs are merged to develop branch, just let me know, I will pull and push to crates.io from my side.

The required checklist for a release:
1. Make sure PRs are merged to develop
2. Check comment docs, update it if needed.
4. then release

[2021-02-16 20:17] gsserge commented on #40
@rousan apparently none of us can merge

[2021-02-16 20:25] rousan commented on #40
Ok, checking, will give write permissions.

[2021-02-16 20:31] rousan commented on #40
I gave write permissions to all the members.

[2021-02-16 20:31] gsserge commented on #40
Amazing! Thank you @rousan

[2021-02-16 20:35] rousan commented on #40
I am creating a beta-2 release.

[2021-02-16 20:40] rousan commented on #40
Released [v2.0.0-beta-2](https://github.com/routerify/routerify/releases/tag/v2.0.0-beta-2)!

[2021-02-16 20:57] rousan commented on #40
Hey guys, thanks a lot for the amazing support from your side to make this project more powerful, I really appreciate that. I might not be available for active contributions, but as I gave you all write permissions, so your open thinking and suggestions are always welcome and do not forget to open new PRs and merge them if needed.

[2021-02-16 21:51] gsserge commented on #42
There's no constraint on `std::io::Error`.

When defining a **router** and **handlers**, you can pick an error type that is most convenient for you. It can be `Box<dyn std::error::Error + Sync + Send + 'static>`, `anyhow::Error`, `routerify::Error` (although I'd advise against that), or your own custom error. Basically anything that can be converted into `Box<dyn std::error::Error + Sync + Send +

[2021-02-16 22:02] gsserge commented on #34
Update is available in 2.0.0-beta-2.

[2021-02-16 22:02] #34 closed

[2021-02-16 22:03] gsserge commented on #15
Merged in #24.

[2021-02-16 22:03] #15 closed

[2021-02-17 09:25] rousan commented on #33
Hey @mitchhentges, At the beginning I restricted to use hyper::Body as the base body type for simple design, but as the hyper crate accepts any body type as long as it implements [HttpBody](https://docs.rs/hyper/0.14.4/hyper/body/trait.HttpBody.html) trait, so we can also restrict this trait constraint to routerify. We can have a plan to extend this in future.

[2021-02-17 09:36] rousan commented on #29
We could extend the [RequestExt](https://docs.rs/routerify/1.1.4/routerify/ext/trait.RequestExt.html) to share data across request handler and middlewares through Request Extension.

[code]

Then these data will be available to RequestInfo.

[2021-02-17 09:39] gsserge commented on #29
If I understand correctly, this is a similar approach to #43

[2021-02-17 09:41] rousan commented on #29
Sorry, I had missed your recent PR, commenting on that PR.

[2021-02-17 09:57] rousan commented on #34
Moved [async-pipe-rs](https://github.com/routerify/async-pipe-rs) and [stream-body ](https://github.com/routerify/stream-body) to this `routerify` organization from my personal repo list.

[2021-02-17 21:19] UndefinedBHVR commented on #42
Ah, I guess I assumed it was because of the example handler using it, alright. That makes things easier then, thank you!
I've already got an error handler setup, I'll go ahead and update to the latest branch and use `routerify::Error` then, thank you!

Closing this issue.

[2021-02-17 21:19] #42 closed

[2021-02-18 10:13] NikosEfthias commented on #40
@rousan what do you say if we create a irc or telegram channel to communicate more effectively

[2021-02-18 10:16] rousan commented on #40
We could do that, but the GitHub has "discussion" section in every repository, so I think we can start with this "discussion" features for now.

[2021-02-18 10:16] rousan commented on #40
Here is the link: https://github.com/routerify/routerify/discussions

[2021-02-18 10:17] NikosEfthias commented on #40
i wasnt aware of that so lets close this bug report and continue there

[2021-02-18 10:17] #40 closed

[2021-02-19 00:55] UndefinedBHVR commented on #14
I believe we should probably have a discussion regarding the implementation of this.
IE: Should it be per request, or should there be a global limit, what should the default value be (in bytes), etc...

[2021-02-22 13:43] NikosEfthias commented on #29
Sorry seems I missed most of the discussion seems it had been merged. Have you included any documentation somewhere  how to use this feature.I think this is a feature a lot of newcomers who doesnt follow the development would like to see and use off the shelf  @gsserge

[2021-02-22 13:52] gsserge commented on #29
@NikosEfthias I've included some examples in the comments for `RequestExt::context()` and `RequestExt::set_context()` methods, as well as for `RequestInfo::context()`. But you're right, I should also expand the `Middleware` and `Data and State Sharing` sections of the documentation in `src/lib.rs`.

[2021-02-23 21:56] gsserge commented on #14
I think this can be implemented in a pre middleware similar to how warp does it https://github.com/seanmonstar/warp/blob/master/src/filters/body.rs#L51
Hyper will not read more than content-length bytes of the body.

[2021-02-26 06:29] UndefinedBHVR commented on #14
I believe that would be a great way to do it. Basically just adding a `max_size(size)` function to the builder pretty much, correct?

[2021-03-02 16:49] gsserge commented on #22
The upcoming 2.0 release will include per request contexts. You can check out the example from https://github.com/routerify/routerify/pull/43 to see how to measure request's duration.

[2021-03-02 16:49] #22 closed

[2021-03-02 21:24] seanpianka commented on #39
Closing this as the usage of `unsafe` has been removed from Routerify, and the PR for adding RequestServiceBuilder has been rebased to use these new changes.

[2021-03-02 21:24] #39 closed

[2021-03-03 04:03] seanpianka opened #53 "Road to a 2.0.0 Release"
I'm opening this issue as an extension of [one of my earlier comments](https://github.com/routerify/routerify/pull/35#issuecomment-763379218).

Here's what I consider the items that block a full 2.0.0 (non-beta) release:

1. ~~Merge #38~~
1. ~~Update [the benchmarks](https://github.com/routerify/routerify-benchmark)~~

Feel free to suggest other items that should be included for a new major versio

[2021-03-03 07:49] gsserge commented on #53
(2) and (4) are almost done.

(1) would be great. I've run into a problem of dealing manually with query strings and cookies lately, and we can definitely improve on that by having more `RequestExt` convenience methods. However, I don't think we should block the release because of that. New methods are not breaking changes and we can safely introduce them in 2.1.

As for (3), I do not have enough

[2021-03-03 09:08] #29 closed

[2021-03-03 09:09] gsserge commented on #6
@rousan did you mean the `keywords` section in Cargo.toml files?

[2021-03-03 09:11] rousan commented on #6
Yes

[2021-03-03 09:12] rousan commented on #6
or some other relevant keywords.

[2021-03-03 12:17] gsserge commented on #42
Docs and an example are in https://github.com/routerify/routerify/pull/52

[2021-03-03 12:17] gsserge commented on #29
Docs and an example are in https://github.com/routerify/routerify/pull/52

[2021-03-03 13:36] seanpianka commented on #53
I've updated the list based on your suggestions, so there's only one small item remaining before the next big release!

[2021-03-03 14:42] gsserge commented on #53
What small item?

[2021-03-03 14:51] seanpianka commented on #53
I was referring to #38 at the time of that comment, but it's merged now. We're ready for a new release!

[2021-03-03 14:55] gsserge commented on #53
Maybe one final beta just in case? ;)

[2021-03-03 17:08] rousan commented on #53
sure, let's make beta 5 release before 2.0.0 major version.

[2021-03-04 23:33] NikosEfthias commented on #53
I have tried to  migrate to 2.0 lates beta but I noticed a couple simple things broke such as error handling.
In particular I used `Eror::new` and `Error::wrap` heavily. Which is not compatible with the new enum based Error api however I think we can introduce a Custom variant and still make the code backwards compatible.
What do you guys think? I can create a pr for this if all agree  @rousan @gs

[2021-03-05 00:54] gsserge commented on #53
@NikosEfthias can you demonstrate how this custom enum would look like with a code snippet?

[2021-03-05 02:03] NikosEfthias commented on #53
we also should ban using of scoped prefixes to prevent unintended bugs.
for instance user might have a `/api/` scope and a `/api/login` endpoint outside of the scope
currently if I understand correctly `/api/login` will be effected by the middlewares of `/api` since afterr flattening theres no way to distinguish between two.
This also sound like a fairly simple fix by possibly using const function

[2021-03-06 22:22] seanpianka commented on #53
@NikosEfthias What exactly is the issue? Please post a code example demonstrating the problem.

[2021-03-07 17:59] gsserge opened #58 "Scoped middleware should not be applied to unscoped routes with the same prefix"
With the following setup

[code]

`auth` middleware is executed when making requests go `/api/login`, even though it's not defined in the scoped `api_router`. The workaround is quite simple - check in `auth` middleware that `req.uri().path()` is not `/api/login`, but it's quite annoying and should just work.

[2021-03-07 18:00] gsserge commented on #53
@seanpianka see https://github.com/routerify/routerify/issues/58

We should probably get this fixed before 2.0.

[2021-03-09 10:48] gsserge commented on #53
@seanpianka I think we can finally cut 2.0 after https://github.com/routerify/routerify/pull/57 and https://github.com/routerify/routerify/pull/59 are sorted. With one more beta first of course :)

[2021-03-13 14:01] gsserge commented on #53
@seanpianka will you have time to look at the PRs?

[2021-03-13 18:23] #58 closed

[2021-03-14 10:44] gsserge commented on #53
I think we are good to go with 2.0

[2021-03-14 12:03] rousan commented on #53
Releasing 2.0.0 .......

[2021-03-14 13:19] rousan commented on #53
@gsserge, can you please send me the release notes for major release 2.0.0 in following format:

[code]

[2021-03-14 14:04] gsserge commented on #53
@rousan sure!

Improvements:
- No more usage of `unsafe`.
- Update to Tokio 1 and Hyper 0.14.
- RequestServiceBuilder (useful for e.g. AWS Lambda).
- Improved error handling.
- Per request contexts.

Bugfixes:
- Convert empty paths to / instead of panicking.
- Scoped middleware should not be applied to unscoped routes with the same prefix.
- When pre middleware fails, correctly propagate router `d

[2021-03-14 22:14] #53 closed

[2021-03-15 06:08] rousan commented on #53
We've released v2.0.0 finally. 🎉🎉🎉🎉

[2021-03-20 19:19] mrene opened #63 "Websocket crate incompatible with version 2"
But [hyper_tungstenite](https://docs.rs/hyper-tungstenite/0.3.0/hyper_tungstenite/) works perfectly out of the box, since it works directly with a `hyper::Request<Body>`, the main example even uses the same function signature as routerify handlers.

Would it be okay to change the README reference?

[2021-03-20 19:49] gsserge commented on #63
Oh yeah, we actually use `hyper-tungstenite` at work too. The beauty of playing nicely with hyper is that so much is available out of the box.

@rousan would you be fine with sunsetting `routerify-websocket` in favor of `hyper-tungstenite`?

On a related note, I think we should bring `routerify-query` into the main repo and make it available via `RequestExt` trait similar to `req.param()`. It's al

[2021-03-20 22:23] seanpianka commented on #63
I'm in favor of using the existing hyper ecosystem 👍

👍 For each project I've used Routerify for, parsing of the querystring from a request is always needed. I think it's a great idea to merge this into `RequestExt`.

[2021-03-20 23:35] rousan commented on #63
Okay, I will look into routerify-websocket.

[2021-03-20 23:39] rousan commented on #63
routerify-query could be added in routerify repo itself, I released it as separate repo to make core routerify lightweight as much as possible.

We can merge it to core routerify and use feature flag to enable it.

[2021-03-21 10:03] gsserge commented on #19
We have been adding more integration tests with each new feature and bug fix, so I think that things are going relatively OK. We should not forget keep adding tests as we develop more features.

[2021-03-21 10:03] #19 closed

[2021-03-21 10:04] #36 closed

[2021-03-21 10:21] gsserge opened #65 "Query string parsing without middleware"
As mentioned in https://github.com/routerify/routerify/issues/63#issuecomment-803454148, I'd like to investigate query string parsing available via `RequestExt` without need for middleware, because it's such a common operation.

[2021-03-21 10:59] gsserge opened #66 "RFC: 2.1 and beyond"
Now that 2.0 is released, I think it's useful to discuss plans for future development.

I think that the project is in a good shape and we've got the basics covered pretty well. This might be a good time to start thinking about convenience. What typical operations can be added to RequestExt (query string and cookies have been mentioned before), what config parameters can be added to `RouterBuilder

[2021-04-01 08:35] verilou opened #67 "Example in readme not working"
I tried to run code (example from the readme)
[code]
And i got this error

[code]

[2021-04-21 06:21] gsserge commented on #67
Should be fixed by https://github.com/routerify/routerify/pull/71 and is going to be released and merged to master soon.

[2021-04-21 06:21] #67 closed

[2021-04-29 01:15] NikosEfthias commented on #66
I believe we also should provide an easier way to initialize the server.
Currently the user has to import and call hyper methods by one self however, it would be so much faster and nicer to have something like `Router::serve(SocketAddr)` so one can just start building things as in every other web framework.
I believe we should hide as much complexity as possible.
compared to something like tide ou

[2021-04-29 01:21] rousan commented on #66
At the beginning, the Routerify was designed as an extension to hyper.rs, not as a whole web framework. But, as the project has improved a lot, we can now add layer to make it more like a web framework like Rocket.rs etc.
What do you guys think?

[2021-04-29 01:24] NikosEfthias commented on #66
@rousan I think this is the main thing what keeps people away from routerify. I believe we can have a very thin layer over hyper and have a very nice ux without sacrificing performance

[2021-05-03 09:04] kingluo opened #76 "Does the paths get resolved in order?"
My question is just like I post an issue for warp, please have a check:
https://github.com/seanmonstar/warp/issues/837

[2021-05-03 13:19] gsserge commented on #76
Could you please give an expanded examples of what you are trying to accomplish? It's not very clear from the warp issue.

[2021-05-04 10:00] kingluo commented on #76
For example, I bound 1000 URLs via routerify:

[code]

Then a request comes in, how to resolve the URL into the handler? Serially based on the defined order, or via hash to match just like what Nginx did (first exact match, second prefix match, third regexp match). In the previous case, then it would be slow when the number of URLs is big.

[2021-05-04 11:13] gsserge commented on #76
Routerify uses [RegexSet](https://docs.rs/regex/1.5.3/regex/struct.RegexSet.html) to match incoming URLs to registered Routes. There's no linear scan.

[Here](https://github.com/routerify/routerify/blob/master/src/router/mod.rs#L118) is the internal method that constructs a regexset when building a router instance. And [here](https://github.com/routerify/routerify/blob/master/src/router/mod.rs#L11

[2021-05-04 13:01] kingluo commented on #76
@gsserge how to do the exact match? And, for prefix match, does it return the longest match?

[2021-05-04 13:06] gsserge commented on #76
Routerify only does exact match. If multiple routes match, then whatever route is returned by RegexSet first wins. Prefix matches are only performed when sub-routers are defined.

[2021-05-04 13:32] kingluo commented on #76
@gsserge The first match is based on the defined order, right? And, any sub-router doc?

[2021-05-04 13:42] gsserge commented on #76
I'm not 100% sure, but I think it's based on the defined order. Sub-router, of scoped router, is described right in the docs https://docs.rs/routerify/2.0.1/routerify/#scopingmounting-router

[2021-05-04 14:01] kingluo commented on #76
@gsserge Thanks.

[2021-05-04 14:04] rousan commented on #76
@kingluo, Routerify uses RegexSet to match the routes, as you can see [here](https://github.com/routerify/routerify/blob/master/src/router/mod.rs#L118), the route paths are being added in RegexSet in order they are defined in the router. Also, any sub routes of scoped router will follow the same.

[2021-05-05 08:53] kingluo opened #77 "The performance of routeify is poor?"
I run warp and routerify and use wrk to test.

The server and client are in different machines.

Each machine has two CPUs.

The code of routerify:

[code]

The code of warp:

[code]

[code]

The output of warp:
[code]

The output of routeify:
[code]

However, the wrk side of CPU is 110% for routerify, and the wrk side of CPU is 150% for warp.
On the server-side, both are almost 200%.

Does it see

[2021-05-05 09:52] gsserge commented on #77
Internal design of warp and routerify is quite different. warp uses a number of advanced techniques, like compiled time polymorphism via generics and macros, which allows for a big chunk of request processing work to be performed at compile time. It allows for the performance that is as close as possible to pure Hyper. The downside is usually longer compile times and internal complexity.

Routerif

[2021-05-05 14:51] kingluo commented on #77
I am just curious why routeify is slower than warp since routeify uses RegexSet.

[2021-05-05 15:53] gsserge commented on #77
URL matching contributes next to nothing to the request processing time. Main contributors are Arc's and allocations.

[2021-05-06 01:20] seanpianka opened #78 "Add more organization owners on crates.io"
Hi @rousan, as discussed in #75, could you please add the other Routerify organization members to the crates.io org? This will allow us to more frequently release small improvements.

Please add myself as an owner of the org, as well as others as you deem appropriate. I believe there's a cargo command for adding new owners:
[code]
Thanks!

[2021-05-06 02:21] seanpianka commented on #77
@gsserge Do you see a path forward to reduce allocations and use of Arcs without introducing unsafe code again? I certainly agree correctness and simplicity (for maintenance and users) can be a desireable trade-off with a score in a req/s benchmark, however performance improvements in Routerify translate to savings for all the downstream projects.

Related, as @NikosEfthias has mentioned in the 2.

[2021-05-06 04:55] rousan commented on #78
@gsserge, @seanpianka, I have changed your role from `member` to `owner` to this Github org, as well as in Cargo org, so that you guys can continue without my availability. Please confirm, if you got these access.
Also, I would suggest to enable **2FA** authentication in Github login for every members.

[2021-05-06 09:13] gsserge commented on #78
@rousan thanks! I can confirm ownership in the github org, however not in crates.io

<img width="280" alt="Screenshot 2021-05-06 at 11 12 56" src="https://user-images.githubusercontent.com/241037/117273018-05a73300-ae5c-11eb-9ee6-31538b5ccf69.png">

[2021-05-07 03:35] seanpianka commented on #78
I can confirm that I see no pending owner invites on crates.io. @rousan, did you setup your API token for it before adding the owners?

[2021-05-07 03:52] rousan commented on #78
@gsserge, @seanpianka, I figured it out, I needed to send request from the crate page. I sent invitations again for every crates owned by Routerify org. Please let me know.

[2021-05-07 06:07] gsserge commented on #78
@rousan accepted, thanks!

[2021-05-07 06:53] rousan commented on #78
Regarding release process, I am using a very helpful tool named [releez](https://github.com/rousan/releez) to automate the release process. The release checklist is written in the `releez.yml` file.

You only need to install the tool from the given link and run:
[code]
It will run the testcases, format the codes and release the tags in Github, as well as to crates.io.

[2021-05-08 00:00] seanpianka opened #79 "releez.yml fails if git-flow is not installed"
Following the steps mentioned [here](https://github.com/routerify/routerify/issues/78#issuecomment-834115454), releasing a new version using `releez` will fail due to the git-flow git extension not being installed locally.

[code]

Perhaps the `releez.yml` should include a step to install git-flow for the platform? Platform-specific steps are listed [in this cheatsheet](https://danielkummer.github

[2021-05-08 00:31] rousan commented on #79
Yes, `git-flow` is needed to make new release branches. Just run `git flow init` for first time and accept default values.

[2021-05-08 01:20] rousan commented on #79
@seanpianka, I just noticed the new version `v2.0.2 is pushed to Github, but not released in crates.io. The `releez` tool might not run properly.

[2021-05-08 02:40] seanpianka commented on #79
Hi @rousan, this should be resolved now, I noticed it soon after it failed for me locally :)

[2021-05-08 06:54] gsserge commented on #76
This should be asked in the warp repo, not here.

[2021-05-08 06:54] #76 closed

[2021-05-08 08:49] kingluo commented on #77
I tried to add 100 URL with random names to the routing of warp and routerify, and I found that routerify is better than warp.

[code]

Maybe it's due to linear scan upon URL of warp, while routerify uses Regexset for url matching.

[2021-05-10 02:33] UndefinedBHVR commented on #66
@rousan

I'd almost say that we could potentially build an actual framework over the core of routerify as its own crate. Allowing backend systems who don't need all the features of a full framework able to rely on the speed of routerify without dealing with the bloat of unnecessary features.

@NikosEfthias @gsserge Thoughts on the matter?

--Also on a semi-related note, I feel like we should impro

[2021-05-10 13:48] NikosEfthias commented on #66
There was a performance comparison to warp on a bug report recently. I think we can optimize things a lot by sacrificing configurability that very small amount of people might actually use. So If we crate another project I dont think I should use routerify as a base It can share a lot of code with routerify but in the end of the day it can be more than just a wrapper around routerify with a lot of

[2021-05-15 21:41] seanpianka commented on #78
I think everything necessary for this issue has been resolved. Thanks all!

[2021-05-15 21:41] #78 closed

[2021-05-15 21:41] seanpianka commented on #79
This issue can serve as documentation in-case @gsserge runs into this issue when releasing a new version 🙂

[2021-05-15 21:41] #79 closed

[2021-05-15 21:59] seanpianka commented on #77
Our original consensus around ensuring soundness in Routerify's implementation was to remove usage of `unsafe`. This resulted in new allocations and use of Arcs to share state.

Routerify does not fall as far along the line of compile-time tradeoffs as Warp. Their use of "compiled time polymorphism via generics and macros" (as @gsserge explained) improves the resulting score from these types of be

[2021-05-15 21:59] #77 closed

[2021-05-17 13:33] lucacasonato opened #80 "RequestExt on http::request::Parts"
Once you turn a `http::Request` into `http::request::Parts` and `hyper::Body` using `Request::into_parts`, you lose the ability to get / set state and data from the request. It would be awesome if the same extensions from the `RequestExt` could also be added to `http::request::Parts` via means of a `RequestPartsExt`.

[2021-05-20 13:17] gsserge commented on #80
Great idea! I never noticed that the extensions are defined on `head: Parts`, not the `Request` itself. This can definitely help when you need to consume a request (e.g. json payload) but still use data, params or context. At the moment the only solution is cloning, and that is not ideal.

Would you be willing to contribute the PR? :)

[2021-05-20 13:35] lucacasonato commented on #80
Sure!

[2021-05-20 14:01] lucacasonato opened #85 "Run clippy (on CI)"
Clippy is great at finding all kinds of issues. Would be nice to run it on CI. If wanted, I can add this.

[2021-05-20 14:27] rousan commented on #85
@lucacasonato, PR is welcome.

[2021-05-21 06:34] gsserge commented on #85
Merged, thanks!

[2021-05-21 06:34] #85 closed

[2021-05-21 08:16] gsserge commented on #80
Merged, thanks! I will create a new release this weekend.

[2021-05-21 08:16] #80 closed

[2021-06-06 09:22] kingluo opened #88 "Cannot capture the correct param"
The url is:
`.get("/hello/*/:name/*", hello_handler)`

The handler:

[code]

The response should be:

[code]

But it gives wrong result:

[code]

[2021-06-06 22:17] NikosEfthias commented on #88
here you are basically saying match everything and a name parameter your syntax is incorrect
Since you say match everything with * it matches everything until the last part which is captured by :name

[2021-06-07 03:58] kingluo commented on #88
Sorry, I don't understand what you mean.

The `*` would be replaced by `(.*)`, and `:name` would be replaced by `([^/]+)`:
https://github.com/routerify/routerify/blob/master/src/regex_generator/mod.rs#L20

After matching, the second `*` would overwrite the first one. So, `*` should be `foobar`, and `:name` should be `bar`:
https://github.com/routerify/routerify/blob/master/src/route/mod.rs#L127

I

[2021-06-07 04:09] NikosEfthias commented on #88
`.*` matches everything until the last part that is matched by `[^/]+` and the last catchall is basically empty.
https://regexr.com/5uvoo here I made a demo
Am I missing something? this seems to be the expected behaviour

[2021-06-07 04:12] kingluo commented on #88
Similarly, I found another issue. Routerify returns a capture value with an unexpected tailed slash.

The url:
`.get("/hello/*", hello_handler)`

The handler:
[code]

The result:
[code]

[2021-06-07 04:24] kingluo commented on #88
You miss the slash between the group.
That is `^(.*)/([^/]+)/(.*)$`, not `^(.*)([^/]+)(.*)$`

[2021-06-14 00:21] seanpianka commented on #13
Here are some utility methods for `hyper::Body<hyper::Request>` that I've ended up using in endpoint/handler functions before:

[code]

They work to simplify common use-cases for parsing request input data and appropriate handling errors throughout, rather than `.unwrap()`'ing everywhere and potentially causing a panic. e.g.

[code]

I can provide the `impl RouterRequestExt for hyper::Request<hype

[2021-06-19 20:42] Selyatin opened #89 "Serving Static Files?"
How can I serve files? Do I have to code it manually? Can we add this feature?

[2021-06-24 17:12] Selyatin commented on #89
You can serve static files via the `hyper_staticfile` crate!

[2021-06-24 17:12] #89 closed

[2021-07-02 12:57] Selyatin opened #90 "Removing X-POWERED-BY Header"
How can I remove this header without adding an extra middleware? I don't wanna reveal any kind of information related to the software that is running on the server.

[2021-07-03 05:46] rousan commented on #90
@Selyatin, only way to remove this is to attach a middleware. You are welcome to open a pull request to configure this.

[2021-07-05 13:30] Selyatin commented on #90
#91

[2021-07-06 07:43] gsserge commented on #90
As I have mentioned in the PR, I'd like to remove this header.

[2021-07-10 14:09] kornelski opened #92 "Is it possible to use with non-TCP connections? (e.g. UDS)"
It looks like the `RouterService` hardcodes use of TCP-specific `AddrStream`:

https://github.com/routerify/routerify/blob/c8b7e21ff2d6e0e5a5307196cae95ce423861c35/src/service/router_service.rs#L82

I'm trying to accept HTTP requests over a Unix Domain Socket, which is incompatible with `AddrStream`.

Could you make this arg generic?

Second problem is that the service can't be cloned, so I can't

[2021-07-10 17:20] seanpianka commented on #92
I added something similar to #93 in #75, perhaps you can build a new router with a shared reference to the builder, rather than cloning the router explicitly? I can provide a MCVE if needed.

[2021-07-10 21:06] kornelski commented on #92
Unfortunately `.build()` is router-specific, and I'm trying to use the router in a generic server context that takes `Service<Request<Body>> + Clone`.

[2021-07-13 14:31] rousan opened #94 "Make routerify::Error as enum or as Box type"
We should design the routerify::Error as enum type or as `Box<dyn StdError + Send + Sync + 'static>`.

[2021-07-14 08:14] gsserge commented on #94
@rousan If I understand you correctly, we already have
[code]

I decided to keep the old string-based Error for compatibility reason, the whole discussion is here https://github.com/routerify/routerify/pull/55

[2021-07-14 11:57] rousan commented on #94
We have two error types right now, `routerify::Error` and `routerify::RouteError` and the `routerify::Result` is based on `routerify::RouteError` and it is very confusing. So, I was thinking to implement error type based on `enum` just like [this](https://github.com/rousan/multer-rs/blob/master/src/error.rs).

[code]

[2021-07-14 13:46] gsserge commented on #94
I agree. In retrospect, I should have made a breaking change for v2 and fixed `routerify::Error` without introducing `routerify::RouteError`.

Regarding the enum vs boxed error, I strongly prefer the maximum flexibility of boxed error. I think that in the context of an http router, the error type should be a kind of a container, capable of storing any error-like value. By not imposing any structur

[2021-07-14 18:03] rousan commented on #94
In general, If the library can provide the specific error types through enum values, the consumer can easily take appropriate action based on Error kind. If we look into `hyper::Error` or  [std::io::Error](https://doc.rust-lang.org/std/io/struct.Error.html#method.kind), they are using some sort of enum to define different types of possible errors.

[2021-07-14 18:29] gsserge commented on #94
Hyper uses a combination of both https://docs.rs/hyper/0.14.10/src/hyper/error.rs.html#11-13. There's still a way to get to the original boxed error.

In general, I am not against a more structured error via enum. I'm just not sure how to pick a range of variants that is both sufficient and flexible. Should we approach it from the point of http status codes and create a variant per status? Or the

[2021-07-15 08:27] seanpianka commented on #94
The difficulty in choosing variants for the public error type is real :)

Take a look at the bottom of [this](https://github.com/routerify/routerify/issues/13#issuecomment-860293716) comment in #13, I describe some helper methods used in an existing Routerify application and the associated error type definition. `enum HandlerError` contains variants which broadly cover common HTTP endpoint handlin

[2021-07-16 00:00] seanpianka commented on #90
I am also in favor of the outright removal of this header. I'd prefer to offer a separate middleware crate, similar to routerify-cors, which injects the header only if such advertisement is desired by the application developer.

Users could pull in the advertisement header middleware if desired, but otherwise we would not include it. This would appeal to security-conscious users by default who may

[2021-07-16 09:12] rousan commented on #90
@seanpianka, Actually, I added this header by default as inspiration from the javascript framework [expressjs](https://expressjs.com/). I agree to get rid of it completely, and the developer can add it through a middleware if they want to show.

[2021-07-20 08:44] #90 closed

[2021-07-23 14:44] ErwanDL commented on #63
Hello @rousan @gsserge @seanpianka, are these two topics (one being moving routerify-query in the routerify repo and making it available via a feature flag, the other being deprecating routerify-websocket in favor of hyper-tungstenite) still on the agenda ? I am willing to help with these and create PRs.

I had started working on porting routerify-websocket to version 2 here https://github.com/rou

[2021-07-23 14:55] gsserge commented on #63
Hey @ErwanDL, thanks for helping out with this!

I personally do not have much time working on `routerify-websocket`, and given that `hyper-tungstenite` works just fine, my preference would be to stick with the latter. The project is active and the maintainer is very responsive to PRs.

Speaking of query string parsing, again, my personal preference would be to leverage the `url` crate directly an

[2021-07-23 15:01] ErwanDL commented on #63
Sounds good, I will update the docs to refer to hyper-tungstenite and create a PR then.

Oh okay, I had not understood that the idea was to remove completely the query middleware and just put its functionality in `RequestExt/PartsExt`, but that sounds like a good idea. I'll work on this as well, I guess I'll create a PR this weekend or next week.

[2021-07-23 15:02] gsserge commented on #63
Oh, this is just my idea! I do not think that there's a consensus around this issue yet.

[2021-08-12 02:07] seanpianka opened #96 "Hierarchical middleware"
For Routerify 3.x, we should look to replace the current design of linear middleware with hierarchical middleware. See further discussion regarding this design in the [discussion on tracing](https://github.com/routerify/routerify/discussions/74).

I have been reviewing [Tide's implementation](https://docs.rs/tide/0.16.0/src/tide/middleware.rs.html#13-21) as a model for a potential implementation.

[2021-08-13 20:02] danielnelson opened #97 "Use minimal set of dependency features"
I'm just getting started with routerify and I love how lightweight it is while providing the features I need.  I'm not an expert on cargo dependencies, but it seems that it would be possible to be even more lightweight if the dependency features were restricted down to what is actually required.

For hyper we currently have:
[code]

But from my testing it could be:
[code]

It would be possible to

[2021-08-16 02:33] Selyatin opened #98 "Logging RouteError"
I was wondering if there's a way to actually log the error on server side too rather than just sending it to the client?

[2021-08-16 09:21] gsserge commented on #98
If you only want to log an error, you can use [err_handler_with_info](https://docs.rs/routerify/2.2.0/routerify/struct.RouterBuilder.html#method.err_handler_with_info). Routerify has no opinion on logging, so just use your favourite logger here.

[code]

[2021-08-16 16:20] iupii opened #99 "Example from documentation doesn't work."
error[E0433]: failed to resolve: could not find `main` in `tokio`
  --> src/main.rs:64:10
   |
64 | #[tokio::main]
   |          ^^^^ could not find `main` in `tokio`

error[E0599]: no method named `data` found for struct `Request` in the current scope
  --> src/main.rs:13:21
   |
13 |     let state = req.data::<State>().unwrap();
   |                     ^^^^ method not found in `Request<Body>`

[2021-08-16 18:39] gsserge commented on #99
Make sure that you have all required dependencies in your `Cargo.toml` as specified in the `Install` section of the repo's `README.md`

[code]

[2021-08-17 06:04] amitavaghosh1 commented on #66
I think the API of routerify is pretty good. as compared to some other libraries. where the router has to have a State and datastores inside the State to even get any real world work done.

I like the middleware interface a lot, compared to the other ones out there.

Like, actix-web has a very lengthy middleware setup. While tide has a okay-ish middleware setup (given that they type definition is

[2021-08-17 10:12] #99 closed

[2021-08-26 18:59] danielnelson opened #100 "Path specific middleware requires trailing slash to match route"
When registering a middleware with a path, it will not match unless you include a trailing `/` on the path.  So, for example, this code does will never call the pre_with_path_middleware:

[code]

The example can be fixed with this change:
[code]

This appears to be caused by a trailing slash being added to all routes:

https://github.com/routerify/routerify/blob/cc2599c2b9aa9b8797bb06fac5211076baa

[2021-10-02 23:59] seanpianka opened #103 "SSL support"
Perhaps it could be a crate feature that, when enabled, wraps the `Service` implementation with [hyper-openssl](https://github.com/sfackler/hyper-openssl)? See the [server test](https://github.com/sfackler/hyper-openssl/blob/master/src/test.rs#L30) for an example.

[2021-10-18 06:27] seanpianka commented on #92
Have you tried using the `RequestService` instead of the `RouterService`? It strictly handles processing of the hyper::Request instance, rather than involving Routerify in the serving of the UDS or TCP-specific type.

There is [examples/aws_lambda.rs](https://github.com/routerify/routerify/blob/cc2599c2b9aa9b8797bb06fac5211076baacb3e2/examples/aws_lambda.rs#L76-L86) that illustrates the approach.

[2021-10-18 10:43] kornelski commented on #92
I haven't figured it out, and switched from Routerify to my own router implementation.

[2021-11-29 14:31] aeyoll opened #107 "Using extension in route params?"
Hello,
I'm trying to achieve something like this using routerify:

[code]

By doing so, I'm unable to get the `:id` parameter. The following test can replicate the issue:

[code]

Am I doing something wrong, or is it a wider issue?
(I know I can bypass the problem by changing the routes from `/api/:id.source` to `/api/:id/source`, but it'd like to avoid it if possible)
Thanks a lot.

[2021-12-05 07:30] #98 closed

[2021-12-08 01:06] rousan commented on #107
You can register a single route at `.get("/api/:idExt")`, then call the corresponding hooks based on the value of `idExt` parameter.

[2021-12-08 07:11] aeyoll commented on #107
Hello @rousan. I can do that but in my opinion, the route parsing should be done by the router, not manually. PR #108 fix this issue and has no other impact, can you take a look at it please? It's just a simple change in the PATH_PARAMS_RE regex. It would be a much more elegant solution.
Thanks a lot

[2022-01-02 17:10] #107 closed

[2022-02-12 21:09] tolumide-ng opened #110 "Example for Shared State doesn't work"
Hello, thank you for the awesome work here.

I noticed there was a previous closed [issue](https://github.com/routerify/routerify/issues/99) related to this and tried using the recommended solution (as stated on the [Readme](https://github.com/routerify/routerify#routerify)) but it didn't solve the problem either.

I am unable to access the shared state from my `controllers`. I have something like

[2022-02-13 11:11] ta3pks commented on #110
if you read the error message you shared it tells you the answer already.
<img width="1186" alt="image" src="https://user-images.githubusercontent.com/9097437/153750414-e5cfbc19-d3d7-4ace-a470-854a9dbeffc5.png">

[2022-02-13 13:53] tolumide-ng commented on #110
I totally missed that, thank yiou @NikosEfthias

[2022-02-13 13:53] #110 closed, assigned to nobody

[2022-05-12 19:06] brandonros opened #113 "Add `remote_addr()` from RequestExt to RequestInfo"
[code]

Would make something like this possible?

[2022-05-12 19:06] brandonros commented on #113
[code]

[2022-06-05 19:27] brandonros opened #115 "How to implement server sent events (SSE)?"

[2022-06-08 02:44] kvinwang opened #116 "Be able to opt-out the feature "hyper/tcp""
We are building web services targeting to wasm with hyper and a custom TcpStream. The feature "hyper/tcp" is a trouble because it would enable some dependencies doesn't compile when targeting to wasm.
[code]

It would be good if routerify allow to opt-out the "hyper/tcp" (disable RouterService by a feature gate). Or better make the RouterService more generic, like let the user decide how to get th

[2022-08-16 17:42] Mossaka opened #118 "Route matching is potentially underterministic"
## Route design
I was experimenting the following route design:

two scopes:
`/hello`,
`/hello/:name`

and in each scope,
there is one root route `/`

I also shared scope path as String to inner route.

[code]

## Request handling
the GET handler simply fetches the shared data and prints it out.
[code]

## Undeterministic result

From what I've observed, the endpoint `http://localhost:3000/hello/y

[2022-08-25 18:17] seanpianka commented on #97
@danielnelson Can this issue be closed now that the MR is merged?

[2022-08-25 21:56] danielnelson commented on #97
Yes, thanks again.

[2022-08-25 21:56] #97 closed